body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  
}

header {
  background-color: #24244d;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  padding: 20px;
}

.produtos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.produto {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.produto img {
  width: 100%;
  border-radius: 8px;
}

button {
  background-color: #24244d;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  
}

button:hover {
  background-color: #24244d;
}

footer {
  text-align: center;
  padding: 15px;
  background: #24244d;
  color: white;
  margin-top: 30px;
}







.search-box{
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}


.search-box input{
    padding: 8px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-box button{
    padding: 8px 12px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.search-box button:hover{
    background: #333;
}