@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');


body {
    background-image: linear-gradient(to bottom, black, rgb(40, 13, 90) );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Caesar Dressing", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
}


.container {
    background: rgb(122, 122, 122);
    height: 600px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
    box-shadow: 0 10px 30px white;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


button {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

input{
    border-radius: 6px;
    height: 40px;
    width: 400px;
    border: none;
    margin-top: 100px;
}

select{
    border-radius: 6px;
    height: 40px;
    width: 400px;
    border: none;
    margin-top: 40px
}

p{
    margin-top: -110px;
    font-size: 40px;
}

button {
    background: linear-gradient(to right, #380a4d, #2c073d);
    color: #ffffff;
    font-size: 12px;
    height: 40px;
    width: 400px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgb(107, 56, 56);
}


h3 {
    margin-top: 20px;
}

.voltar {
    text-decoration: none;
    color: white;
    
}