@charset "UTF-8";

*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.conteinertop{
  background-color: black;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;
  padding: 0 20px;
}

.logo{
  
  height: 80px;
  width: 100px;
}

.search-box input {
  padding: 8px;
  width: 400px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px) saturate(140%);
  -webkit-backdrop-filter: blur(10px) saturate(140%);
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 12px rgba(0,0,0,0.5);
  color: white;
  font-size: 16px;
}


.search-box button{
  padding: 8px;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

.search-box button:hover{
  background: #333;
}

.cadastro{
  height: 80px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links{
  color: white;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
}

.carrossel-container {
  margin-top: -10px;
}

/* imagens do carrossel */

.carousel-inner img {
  height: 590px; 
  object-fit: cover;  
  
}

.conteinermid{
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  color: white;
}

.icon1, .icon2, .icon3{
  height: 40px;
  width: 40px;
  margin-top: -10px;
}

.divmid{
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 90px;
}

.linha-texto {
  
  display: flex;
  align-items: center;
  text-align: center;
  margin: 30px 0;
}

.linha-texto span {
  padding: 0 15px; 
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
}

.linha-texto::before,
.linha-texto::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid #ccc;
}

.produto{
  background-color: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  width: 300px;
  box-shadow: 0 2px 5px black;
}

.novidades{
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 400px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10%;

}

.button0{
    background: linear-gradient(to right, #380a4d, #2c073d);
    color: #ffffff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgb(107, 56, 56);
}


.carrinho-popup {
  display: none;
  position: fixed;
  right: 20px;
  top: 80px;
  width: 300px;
  background: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  z-index: 1000;
}

.carrinho-popup ul {
  list-style: none;
  padding: 0;
  max-height: 300px;
  overflow-y: auto;
}

.carrinho-popup li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.remove-btn {
  cursor: pointer;
  color: #6a0dad;
  font-weight: bold;
}

.carrinho-icon {
  cursor: pointer;
  position: relative;

  /* deixa o caldeirão centralizado no espaço */
  width: 80px;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.carrinho-icon .icon-caldeirao {
  width: 70px;   /* tamanho ideal */
  height: 70px;
  object-fit: contain;

  /*deixa mais bonito */
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.4));
}

#contadorCarrinho {
  position: absolute;
  top: -3px;
  right: -8px;
  background: #512da8;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: bold;
}

.linkc{
  color: white;
  text-decoration: none;
}

.texcarrinho{
  margin-top: 20px;
  color: white;
  margin-left: -50px;
}


.convert{
  background-color: white;
  height: 50px;
  width: 100px;
}