@font-face {
  font-family: 'teste';
  src: url('UnZialish.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}

.logo {
  float: left;
}

.nome {
  font-family: 'teste', sans-serif;
  font-size: 20px;
}

header {
  background-color: #46245f;
  color: white;
  padding: 3px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  padding: 20px;
}

.produtos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.produto {
  background-image: linear-gradient(to bottom, #46245f, rgb(126, 82, 177) );
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.produto img {
  width: 100%;
  border-radius: 8px;
}

button {
  background-color: #46245f;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #5a2d79;
}

footer {
  text-align: center;
  padding: 15px;
  background: #46245f;
  color: white;
  margin-top: 30px;
  font-family: 'teste';
}
.msg-sucesso {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #46245f;
  color: #fff;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 14px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  animation: aparecer 0.3s ease;
}

@keyframes aparecer {
  from { opacity: 0; transform: translateY(10px); }
  to   { opacity: 1; transform: translateY(0); }
}

.search-box input{
    padding: 8px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #000000;
}

.search-box button{
    padding: 8px 12px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.search-box button:hover{
    background: #333;

}

.lirio{
margin-top: 60px;


}

.lirioimg{
margin-top: 50px;


}
