@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');


body {
    background-image: linear-gradient(to bottom, black, rgb(40, 13, 90) );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Caesar Dressing", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
}


.container {
    background: rgb(122, 122, 122);
    padding: 25px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
}

input, select, button {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

button {
    background: linear-gradient(to right, #380a4d, #2c073d);
    color: #ffffff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgb(107, 56, 56);
}


h3 {
    margin-top: 20px;
}
